/* adds a rule for the bars themselves - fill and stroke (outline colour and width) 
selects all rectangles with class bar, where parent is a g element with class chart*/
g.chart > rect.bar {
    fill: #4aba57;
    stroke: #d3210d;
    stroke-width: 2px;
}