/* adds a rule for the circles themselves - fill and stroke (outline colour and width) 
selects all circles with class pie, where parent is a g element with class chart*/
g.chart > circle.bubble {
    fill: #4aba57;
    stroke: #d3210d;
    stroke-width: 2px;
}

/* gives bubbles a thicker and different coloured border when have class hightlight (by event)*/
g.chart > circle.bubble.highlight{
    stroke-width: 2px;
    stroke: #282828;
    fill: none;
}

